@import "../../styles/variables.scss";
.blog-header {
   margin: 60px 0;
}

.blog-title {
   font-weight: $font-weight-small;
   font-size: 55px;
   line-height: 67px;

   color: $color-dark-blue;

   margin-bottom: 20px;
}

.blog-description {
   font-weight: $font-weight-small;
   font-size: 18px;
   line-height: 26px;

   color: $color-grey;

   margin-bottom: 0;
}

.blog-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

//pagination

.pagination {
   margin-top: 50px;
   display: flex;
   justify-content: center;
   gap: 0 10px;
}

.pagination-item {
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: $color-grey;
   padding: 8px 20px;

   border-radius: 4px;

   &:hover {
      cursor: pointer;
   }

   &.selected {
      background: rgba(105, 118, 148, 0.1);
   }
}

//pc
@media only screen and (min-width: 1024px) {
   .blog-item {
      margin-top: 20px;
   }
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .blog-item {
      margin-top: 20px;
      flex-basis: 49%;
   }
}
//mobile
@media only screen and (max-width: 740px) {
   .blog-header {
      margin: 30px 0;
   }
   .blog-item {
      margin-top: 20px;
   }
}
