html {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
}

*,
*::before,
*::after {
   box-sizing: border-box;
}

input {
   line-height: normal;
   border: none;
}

label,
button {
   cursor: pointer;
   border: none;
}

input,
button,
[tabindex] {
   border: none;
   outline: none;
}

a {
   text-decoration: none;
}

img {
   display: block;
   max-width: 100%;
}

li {
   list-style: none;
}

ul {
   margin-bottom: 0;
}
