@import "reset.scss";
@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap");

html,
body {
   font-family: $font !important;
   font-style: normal;
   font-size: 18px;
   font-weight: 400;
   color: $color-dark-blue;
   background-color: #f5f7fa;
}

.wrapper {
   max-width: $width-wrapper !important;

   background: #f5f7fa;
   margin: 0 auto;
}

.container {
   max-width: $width-container !important;
   margin: 0 auto;
   padding: 0 15px;
}
