$font: "Cabin", sans-serif;
$font-size-small: 14px;
$font-weight-small: 400;
$font-weight-big: 500;

$color-dark-blue: #324162;
$color-white: #ffffff;
$color-blue: #0bbef2;
$color-grey: #697694;

$width-container: 1170px;
$width-wrapper: 1440px;
