@import "../../../styles/variables.scss";

.brooke-two {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   height: 700px;

   .brooke-two-container {
      width: $width-container;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .brooke-two-image {
         position: relative;
         background-image: url("../../../assets/images/brooke.png");
         background-size: 100%;
         width: 565px;
         max-width: 100%;
         background-position: right center;
         height: 604px;
         max-height: 100%;
         background-repeat: no-repeat;

         &-content {
            position: absolute;
            left: 60px;
            top: 60px;
         }
      }

      .brooke-two-content {
         width: 100%;
         max-width: 466px;

         .brooke-two-title {
            font-weight: 400;
            font-size: 55px;
            line-height: 67px;
            color: $color-dark-blue;
         }

         .brooke-two-description {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin: 20px 0 28px 0;
            color: $color-grey;
         }

         .intro-btn {
            //   display: flex;
            //   align-items: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;

            letter-spacing: 0.02em;

            color: #0bbef2;
            background: transparent;

            &:hover {
               cursor: pointer;
            }
         }
      }
   }
}

//pc
@media only screen and (min-width: 1024px) {
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .brooke-two {
      height: auto;
      margin-top: 50px;
   }
   .brooke-two-container {
      justify-content: unset;
      padding: 15px;

      .brooke-two-image {
         width: 400px;
         flex-basis: 48%;
         margin-left: 20px;
      }
      .brooke-two-content {
         flex-basis: 48%;
         margin-right: 20px;

         .brooke-two-title {
            font-size: 2rem !important;
         }

         .brooke-two-description {
            margin: 0 0 28px 0 !important;
         }
      }
   }
}
//mobile
@media only screen and (max-width: 740px) {
   .brooke-two {
      height: auto;
      margin-top: 50px;
   }

   .brooke-two-container {
      flex-direction: column-reverse;
      padding: 0 15px;

      .brooke-two-image {
         width: 100% !important;
         height: 400px !important;
      }

      .brooke-two-content {
         width: 100%;
         max-width: none !important;

         .brooke-two-title {
            font-size: 1.5em !important;
         }

         .brooke-two-description {
            margin: 0 0 28px 0 !important;
         }
      }
   }
}
