@import "../../../styles/variables.scss";

.brooke-two {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 700px;

   .brooke-two-container {
      width: $width-container;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .brooke-two-content {
         width: 100%;
         max-width: 466px;

         .brooke-two-title {
            font-style: normal;
            font-weight: 400;
            font-size: 55px;
            line-height: 67px;
            color: $color-dark-blue;
         }

         .brooke-two-description {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin: 20px 0 28px 0;
            color: $color-grey;
         }

         .intro-btn {
            //   display: flex;
            //   align-items: center;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;

            letter-spacing: 0.02em;

            color: #0bbef2;
            background: transparent;

            &:hover {
               cursor: pointer;
            }
         }
      }
   }

   // .brooke-two-image {
   //    // position: relative;
   //    background-image: url("../../../assets/images/dashboard.png");
   //    background-size: auto;
   //    // background-position: right center;
   //    height: 604px;
   //    background-repeat: no-repeat;
   // }
}
