@import "../../styles/variables.scss";

.contact-header {
   width: 700px;
   margin: 50px auto;
}

.title {
   font-weight: $font-weight-small;
   font-size: 55px;
   line-height: 67px;

   color: $color-dark-blue;
}

.info {
   position: relative;
   display: flex;
   align-items: center;
   color: $color-grey;

   .rule {
      width: 1px;
      height: 17px;
      background-color: #bbc8d4;
      margin: 0 10px;
   }

   .name {
      margin-bottom: 0;
      margin: 0 10px 0 8px;
      font-weight: $font-weight-small;
      font-size: 12px;
      line-height: 145.8%;
   }

   .dateTime {
      margin-bottom: 0;
      margin-left: 10px;
      font-weight: $font-weight-small;
      font-size: 12px;
      line-height: 145.8%;
   }

   p {
      margin-bottom: 0;
   }
}

.image {
   margin: 0 auto;
   width: 100%;
   max-width: 900px;
}

.box-description {
   width: 700px;
   margin: 50px auto 0 auto;
}

.description {
   font-weight: $font-weight-small;
   line-height: 26px;

   /* Dark Blue */

   color: $color-dark-blue;

   margin-bottom: 20px;
}

.comment-list {
   margin-top: 50px;

   // border-bottom: 1px solid #dae3ea;
}

.rule1 {
   width: 100%;
   border: 1px solid $color-grey;
   margin: 60px 0;
}

.form {
   h1 {
      font-weight: 400;
      font-size: 26px;
      line-height: 38px;
      /* identical to box height */

      /* Grey */

      color: #697694;
   }

   .input {
      display: flex;
      margin-top: 30px;

      textarea {
         flex: 1;
         border: 2px solid #bbc8d4;
         border-radius: 4px;
         margin-left: 12px;
         padding: 10px 10px;
         outline: none;

         ::placeholder {
            color: $color-grey;
         }
      }

      .submit-btn {
         display: none;
      }
   }
}

//pc
@media only screen and (min-width: 1024px) {
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .contact-header {
      width: 100%;
      margin: 20px 0;
   }

   .image {
      width: 100%;
   }

   .box-description {
      width: 100%;
   }
}
//mobile
@media only screen and (max-width: 740px) {
   .contact-header {
      width: 100%;
      margin: 20px auto;
   }

   .box-description {
      width: 100%;
   }

   .form {
      .input {
         flex-direction: column;

         img {
            display: none;
         }

         textarea {
            width: 100%;
            margin-left: 0;
         }

         .submit-btn {
            display: block;
            padding: 10px 0;
            margin-top: 20px;
            border-radius: 3px;
            background-color: $color-grey;
            color: $color-white;
         }
      }
   }
}
