@import "../../../styles/variables.scss";

.introduce {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 100px;

   .introduce-image {
      background-image: url("../../../assets/images/dashboard.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: contain;

      width: 100%;
      // margin-top: 100px;
      height: 632px;
   }

   .introduce-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: $width-container;
      margin: 0 auto;

      .introduce-content {
         width: 100%;
         max-width: 466px;
         margin-left: 136px;

         .introduce-title {
            font-style: normal;
            font-weight: 400;
            font-size: 55px;
            line-height: 67px;
            color: $color-dark-blue;
         }

         .introduce-description {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin: 20px 0 28px 0;
            color: $color-grey;
         }

         .intro-btn {
            //   display: flex;
            //   align-items: center;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;

            letter-spacing: 0.02em;

            color: #0bbef2;
            background: transparent;

            &:hover {
               cursor: pointer;
            }
         }
      }
   }
}

//pc
@media only screen and (min-width: 1024px) {
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .introduce {
      height: auto;

      .introduce-container {
         flex-basis: 48%;
      }
      .introduce-image {
         flex-basis: 48%;
         height: 400px;

         background-position: center;
      }
   }

   .introduce-content {
      margin-left: 0 !important;

      max-width: none !important;
      padding: 15px;

      .introduce-title {
         font-size: 2rem !important;
      }

      .introduce-description {
         margin: 0;
      }
   }
}
//mobile
@media only screen and (max-width: 740px) {
   .introduce {
      margin-top: 50px;
      height: auto;

      flex-direction: column-reverse;

      .introduce-container {
         width: 100%;
      }

      .introduce-image {
         height: 400px;
         background-size: contain;
         background-position: center;
      }
   }

   .introduce-content {
      margin-left: 0 !important;

      max-width: none !important;
      padding: 15px;

      .introduce-title {
         font-size: 2rem !important;
      }

      .introduce-description {
         margin: 0;
      }
   }
}
