@import "../../../styles/variables.scss";

.introduce {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin-top: 100px;
   height: 700px;
   max-height: 100%;

   background-image: url("../../../assets/images/dashboard.png");
   background-repeat: no-repeat;
   background-position: right center;
   background-size: auto;

   .introduce-container {
      width: $width-container;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .introduce-content {
         width: 100%;
         max-width: 466px;

         .introduce-title {
            font-style: normal;
            font-weight: 400;
            font-size: 55px;
            line-height: 67px;
            color: $color-dark-blue;
         }

         .introduce-description {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            margin: 20px 0 28px 0;
            color: $color-grey;
         }

         .intro-btn {
            //   display: flex;
            //   align-items: center;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;

            letter-spacing: 0.02em;

            color: #0bbef2;
            background: transparent;

            &:hover {
               cursor: pointer;
            }
         }
      }
   }

   // .introduce-image {
   //    // position: relative;
   //    background-image: url("../../../assets/images/dashboard.png");
   //    background-size: auto;
   //    // background-position: right center;
   //    height: 604px;
   //    background-repeat: no-repeat;
   // }
}

//pc
@media only screen and (min-width: 1024px) {
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}
//mobile
@media only screen and (max-width: 740px) {
   .introduce {
      background-image: none;
      margin-top: 50px;
      height: auto;
   }

   .introduce-content {
      padding: 15px;

      .introduce-title {
         font-size: 2rem !important;
      }

      .introduce-description {
         margin: 0;
      }
   }
}
