@import "../../../styles/variables.scss";
.footer {
   margin-top: 160px;
   padding: 40px;
   background-color: #3c4862 !important;
   .footer-container {
      width: $width-container;
      margin: 0 auto;
   }

   .footer-content {
      display: flex;
      justify-content: space-between;
   }

   .footer-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;

      color: $color-white;
   }

   .footer-des,
   .footer-item {
      font-weight: 400;
      font-size: 13px;
      line-height: 22px;
      margin: 10px 0;
      /* identical to box height */

      color: rgba(255, 255, 255, 0.6);
   }

   .footer-input {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
      padding: 14px;
      color: white;
      width: 267px;

      ::placeholder {
         color: $color-white !important;
      }
   }

   //    .footer-logo {
   //       flex-basis: 20%;
   //    }

   //    .footer-box {
   //       flex-basis: 20%;
   //    }

   //    .footer-seen-email {
   //       flex-basis: 30%;
   //    }
}

//pc
@media only screen and (min-width: 1024px) {
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}
//mobile
@media only screen and (max-width: 740px) {
   .footer {
      padding: 0;
      .footer-content {
         flex-direction: column;
      }
   }
}
