@import "../../../styles/variables.scss";

.banner {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 719px;
   // position: absolute;
   // top: 0;
   // left: 0;
   // background-image: url("../../../assets/images/banner.jpg");
   // background-repeat: no-repeat;
   // background-size: 100%;
   // width: 100%;
   // height: 800px;
}

.banner-container {
   width: $width-container;
   margin: 0 auto;
   color: $color-white;
}

.banner-content {
   width: 100%;
   max-width: 508px;

   .banner-title {
      font-style: normal;
      font-weight: 400;
      font-size: 55px;
      line-height: 67px;
   }

   .banner-description {
      margin: 20px 0 50px 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 29px;
   }

   .banner-access {
      display: flex;
      .banner-input {
         flex: 1;
         // width: 296px;
         height: 56px;
         padding-left: 16px;
         background: $color-white;
         box-shadow: 0px 15px 35px rgba(39, 44, 47, 0.1);
         border-radius: 4px;

         &::placeholder {
            font-size: 16px;
            font-weight: $font-weight-small;
            color: $color-grey;
         }
      }

      .banner-btn {
         height: 56px;
         color: $color-white;
         font-weight: $font-weight-big;
         font-size: 16px;
         background: #0bbef2;
         border-radius: 4px;
         padding: 18px;
         margin-left: 8px;
         line-height: 19px;

         &:hover {
            background-color: #23c4f3;
         }
      }
   }
}

//pc
@media only screen and (min-width: 1024px) {
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .banner {
      align-items: unset;
      height: auto;
      // height: auto !important;
   }

   .banner-content {
      margin: 50px 0;

      .banner-title {
         font-size: 1.8rem !important;
      }

      .banner-description {
         // margin: 20px 0;
         display: none;
      }
   }
}
//mobile
@media only screen and (max-width: 740px) {
   .banner {
      height: 300px;
   }

   .banner-content {
      width: 100%;
      // max-width: 508px;
      .banner-title {
         font-size: 1.8rem !important;
      }

      .banner-description {
         display: none;
      }

      .banner-access {
      }

      .banner-access {
         .banner-btn {
            margin-left: 0;
         }
      }
   }
}
