@import "../../../styles/variables.scss";

.swiper-slide {
   width: 367px !important;
   height: 370px !important;
}

.owl-item {
   width: 367px !important;
   height: 370px !important;
}

.owl-carousel .owl-item img {
   display: block;
   width: unset;
}
.owl-theme .owl-nav {
   text-align: right;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
   background-image: url("../../../assets/images/vector.png") !important;
   background: rgba(255, 255, 255, 0.1);
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
   background-image: url("../../../assets/images/vector.png");
   background-repeat: no-repeat;
   width: 29px;
   background-size: unset;
   height: 20px;

   cursor: pointer;
}

.owl-carousel .owl-nav button.owl-prev ~ .owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-next {
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}

.people {
   margin-top: 50px;
   margin-left: 136px;
   .people-container {
      // width: $width-container;
      // margin: 0 auto;
      // display: flex;

      .people-list {
         margin-top: 120px;
         // display: inline-flex;
         // gap: 0 30px;
      }
   }

   .people-header-title {
      font-weight: 400;
      font-size: 55px;
      line-height: 67px;

      color: $color-dark-blue;
   }
}

.people-action-container {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   gap: 0 20px;
   .people-action {
      background-color: transparent;
   }

   .people-action + .people-action {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
   }
}

.swiper-button-next,
.swiper-button-prev {
   background-image: url("../../../assets/images/vector.png");
   background-repeat: no-repeat;
   width: 29px;

   background-size: unset;
   height: 20px;

   cursor: pointer;
}

.swiper-button-prev ~ .swiper-button-next,
.swiper-button-next ~ .swiper-button-prev {
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}

//pc
@media only screen and (min-width: 1024px) {
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .people {
      margin-top: 50px;
      margin-left: 0;
      padding: 15px;
   }

   .people-action-container {
      justify-content: center;
   }

   .people-list {
      margin-top: 20px !important;
   }

   .swiper-slide {
      margin-right: 20px;
   }

   .owl-theme .owl-nav {
      text-align: center;
   }
}
//mobile
@media only screen and (max-width: 740px) {
   .people {
      margin-top: 50px;

      margin-left: 0;
      padding: 15px;
   }

   .people-action-container {
      justify-content: center;
   }

   .people-list {
      margin-top: 20px !important;
   }

   .people-header-title {
      font-size: 2rem !important;
   }

   .owl-theme .owl-nav {
      text-align: center;
   }
}
