@import "../../../../styles/variables.scss";

.MuiPaper-root {
   :hover {
      cursor: pointer;
   }
   .MuiCardContent-root {
      padding: 20px;
      .MuiTypography-root {
         font-family: $font !important;
         color: $color-dark-blue;
      }

      .blog-title {
         font-weight: 600;
         font-size: 22px;
         line-height: 140%;
      }

      .blog-description {
         font-weight: 400;
         font-size: 15px;
         line-height: 22px;
      }
   }

   .MuiCardActions-root {
      padding: 0 20px 20px 20px;
   }
}

.blog-info {
   position: relative;
   display: flex;
   align-items: center;

   .rule {
      width: 1px;
      height: 17px;
      background-color: #bbc8d4;
   }

   .fullName {
      margin-bottom: 0;
      margin: 0 10px 0 8px;
      font-weight: 400;
      font-size: 12px;
      line-height: 145.8%;
   }

   .date-time {
      margin-bottom: 0;
      margin-left: 10px;
      font-weight: 400;
      font-size: 12px;
      line-height: 145.8%;
   }

   p {
      margin-bottom: 0;
   }
}

//pc
@media only screen and (min-width: 1024px) {
}
//tablet
@media only screen and (min-width: 740px) and (max-width: 1023px) {
   .MuiPaper-root {
      width: 100% !important;
   }
}
//mobile
@media only screen and (max-width: 740px) {
   .MuiPaper-root {
      width: 100% !important;
   }
}
